<form onsubmit="event.preventDefault(); window.location.href='/events/eventname/' + document.getElementById('eventname').value;">
    <label for="eventname" class="form-label">Event Name</label>
    <select name="eventname" id="eventname" required>
        <option value="" disabled selected>Select an event</option>
        <% for (const eventinstance of eventinstances) { %>
            <option value="<%= eventinstance.eventname %>"><%= eventinstance.eventname %></option>
        <% } %>
    </select>
    <button type="submit">Search</button>
</form>