<form onsubmit="event.preventDefault(); window.location.href='/events/eventstart/' + document.getElementById('eventstart').value;">
    <label for="eventstart">Search for a specific event by date</label>
    <input type="date" id="eventstart" name="eventstart">
    <button type="submit">Search</button>
</form>