<form onsubmit="event.preventDefault(); window.location.href='/milestones/email/' + document.getElementById('email').value;">
    <label for="email">Search for a specific milestone by participant email</label>
    <input type="text" id="email" name="email" default="Enter a participant's email">
    <button type="submit">Search</button>
</form>