<form onsubmit="event.preventDefault(); window.location.href='/milestones/milestonedate/' + document.getElementById('milestonedate').value;">
    <label for="milestonedate">Search for a specific milestone by date</label>
    <input type="date" id="milestonedate" name="milestonedate">
    <button type="submit">Search</button>
</form>