<form action="/milestones/add-milestone" method="POST" class="row g-3">
	<div class="col-md-3">
		<label for="email" class="form-label">Email</label>
		<input type="email" id="email" name="email" class="form-control" required>
	</div>
	<div class="col-md-3">
		<label for="milestonetitle" class="form-label">Title</label>
		<input type="text" id="milestonetitle" name="milestonetitle" class="form-control" required>
	</div>
	<div class="col-md-3">
		<label for="milestonedate" class="form-label">Date</label>
		<input type="date" id="milestonedate" name="milestonedate" class="form-control" required>
	</div>
	
	
	
	

	<div class="col-12 d-flex justify-content-end mt-2">
		<button type="submit" class="btn btn-primary">Add Milestone</button>
	</div>
</form>
