<form action="/surveys/addsurvey/:email/:eventid/:eventstart">
    <label for="addemail">Email</label>
        <input type="text" id="addemail" name="email">
    <label for="addeventid">Event ID</label>
        <input type="number" id="addeventid" name="eventid">
    <label for="addeventstart">Event Start</label>
        <input type="date" id="addeventstart" name="eventstart">
</form>