<form onsubmit="event.preventDefault(); window.location.href='/surveys/eventtype/' + document.getElementById('eventtype').value;">
    <label for="eventtype" class="form-label">Event Type</label>
    <select name="eventtype" id="eventtype" required>
        <option value="" disabled selected>Select an event</option>
        <% for (const survey of surveys) { %>
            <option value="<%= survey.eventtype %>"><%= survey.eventtype %></option>
        <% } %>
    </select>
    <button type="submit">Search</button>
</form>