<form action="/surveys/:email" method="get">
    <label for="email">Search for a specific survey by user email</label>
    <input type="text" id="email" name="email" default="Enter a participant's email">
</form>