<form onsubmit="event.preventDefault(); window.location.href='/surveys/email/' + document.getElementById('email').value;">
    <label for="email">Search for a specific survey by user email</label>
    <input type="text" id="email" name="email" default="Enter a participant's email">
    <button type="submit">Search</button>
</form>