<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donate</title>
</head>
<body>
  <div>
    <h1>Ella Rises Foundation</h1>
    <div>
      <h3>Rise with Ella: Empowering Futures Together</h3>
      <p>We believe in the power of community and the brilliance of our youth</p>
    </div>
    <div>
      <form action="/donations/donate" method="POST" class="form">
        <div class="text-start mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="example@email.com" required autofocus>
        </div>
        <div class="text-start mb-3">
          <label for="donationAmount" class="form-label">Donation Amount</label>
          <input type="number" id="donationAmount" name="donationAmount" class="form-control" placeholder="100" required autofocus>
        </div>
        <button type="submit" class="btn btn-dark">Donate</button>
      </form>
    </div>
  </div>
</body>
</html>