<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Persons <%= person.personid %></title>
</head>
<body>
  <h1><%= person.firstname %></h1>
  <h1><%= person.lastname %></h1>
</body>
</html>